@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --breakpoint-tablet: 920px;
  --breakpoint-tablet2: 740px;
  --breakpoint-mobile: 651px;
}

html {
  scroll-behavior: smooth;
}